# Visual Studio cache/options directory
.vs/
/NetcoreReact.IntegrationTests/bin
/NetcoreReact.IntegrationTests/obj
/NetcoreReact.NUnitTests/bin
/NetcoreReact.NUnitTests/obj
/TempCode
/NetcoreReact.sln.DotSettings.user